@model IEnumerable<FPTBook.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="orderManage" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Email: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="orderManage">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
             <th>
                       Actions
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-controller="OrderDetails" asp-action="orderManager" asp-route-id="@item?.Id" class="btn btn-primary">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>